<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Git hub:</b>
  <%= @project.git_hub %>
</p>

<p>
  <b>Max Users:</b>
  <%= @project.max_users %>
</p>

<p>
  <b>Open Slots:</b>
  <%= @project.max_users - @project.users.count %>
</p>

<p>
  <b>Current Users:</b>
  <% @project.users.each do |user| %>
  <%= user.email %>
  <% end %>
</p>


<% if can? :create, Assignment %>
  <% if current_user.on_project?(@project) %>
    <p>You are on this project!</p>
    <%= link_to 'Edit', edit_project_path(@project) %> |
  <% else %>
    <%= link_to 'Join This Project', project_join_path(@project), method: :post %>
  <% end %>
<% end %>
<%= link_to 'Back', projects_path %>
